<h3 class="subheader">Color Families</h3>

<hr />

<%= link_to 'New Color Family', new_color_family_path, class: 'blue button nice radius' %>

<table>
  <thead>
    <tr>
      <th>Name</th><th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @color_families.all.each do |pc| %>
    <tr>
      <td><%= pc.name %> (<%= pluralize pc.colors.count, 'color' %>)</td><td><%= link_to 'Edit', edit_color_family_path(pc), class: 'small yellow button radius' %> <%= link_to 'Delete', color_family_path(pc), method: :delete, data: {confirm: '1', message: 'Warning! This action will delete the colors too!'}, class: 'small red button nice radius' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
