<h3 class="subheader">Products</h3>
<hr />



<%= form_for @product_family, url: product_search_path, method: 'get', id: "productSearchForm" do |f| %>    
  <div class='row' style="padding:8px">
    <div class='large-9 columns'>
      <%#= field_set_tag do %>
        <%= f.label :id, "Search by Product Family" %>
        <%= f.grouped_collection_select(:id, ProductCategory.order(:name), :product_families, :name, :id, :name) %>
        
        <% @select_constraints.each do |c| %>
          <div class='filter-div hide' id='filter_<%= c %>'>
            <div class='row'>
              <div class='large-10 columns'>
                <%= label_tag c %>
                <%= select_tag c, options_for_select(c.gsub('_id', '').split('_').map(&:capitalize!).join.constantize.all.map{|t| [t.name, t.id]}, params[:"#{c}"].to_s), include_blank: true %>
              </div>
              <div class='large-2 columns'>
                <a href='javascript:void(0)' class='right remove-filter'><i class="icon icon-minus icon-white"></i></a>
              </div>
            </div>
          </div>
        <% end %>

        <div class='filter-div hide' id='filter_weldrod'>
          <div class='row'>
            <div class='large-10 columns'>
              <%= label_tag :weldrod %>
              <%= text_field_tag :weldrod, params[:weldrod], placeholder: 'search by weldrod' %>
            </div>
            <div class='large-2 columns'>
              <a href='javascript:void(0)' class='right remove-filter'><i class="icon icon-minus icon-white"></i></a>
            </div>
          </div>
        </div>

        <div class='filter-div hide' id='filter_sku'>
          <div class='row'>
            <div class='large-10 columns'>
              <%= label_tag :sku %>
              <%= text_field_tag :sku, params[:sku], placeholder: 'search by sku' %>
            </div>
            <div class='large-2 columns'>
              <a href='javascript:void(0)' class='right remove-filter'><i class="icon icon-minus icon-white"></i></a>
            </div>
          </div>
        </div>
        
      <%# end %>
    </div>  
    <div class='large-3 columns'>
      <%= label_tag :show_per_page %>
      <%= select_tag :show_per_page, options_for_select([ [10], [20], [50] ], @show_per_page) %>
      <a id="add-filter-list" href="javascript:void(0)" class='green button radius small full-width'>Add a filter</a>
      <ul id="filter-list" class='hide full-width'>
        <li><a data-field='filter_product_thickness_id' class='add-filter'>Thickness</a></li>
        <li><a data-field='filter_product_width_id' class='add-filter'>Width</a></li>
        <li><a data-field='filter_product_length_id' class='add-filter'>Length</a></li>
        <li><a data-field='filter_product_warranty_id' class='add-filter'>Warranty</a></li>
        <li><a data-field='filter_weldrod' class='add-filter'>Weldrod</a></li>
        <li><a data-field='filter_sku' class='add-filter'>Sku</a></li>
      </ul>
    </div>  
  </div>
    <%= submit_tag 'search', class: "small blue button nice round" %> 
  <%#= link_to "advanced", '', :class => 'white round button nice radius small', :id => 'advancedSearch' %>        
<% end %>


<h4 class="left"><%= @products.count %> Products</h4>
<%= link_to_icon 'plus-sign icon-white', "New Product", new_product_path, class: 'small green button radius right' %>

<div class="pagination-container">
  <%= will_paginate(@products,:renderer => PaginationListLinkRenderer, :previous_label => "«", :next_label => "»" ) %>
</div>

<table>
  <thead>
    <tr>
      <th>Family</th><th>SKU</th><th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |p| %>
    <tr class="product-row">
      <td><%= p.product_family.name if p.product_family %></td><td><%= link_to p.sku, product_path(p) %></td><td><%= link_to_icon 'edit icon-white', 'Edit', edit_product_path(p), class: 'small blue button radius' %> <%= link_to_icon 'trash icon-white', 'Delete', product_path(p), method: :delete, data: {confirm: '1'}, class: 'small red button nice radius' %></td><td><a class="product-details-link" href="javascript:void(0)"><i class="icon icon-info-sign"></i></a></td>
    </tr>
    <tr class='hidef product-details'>
      <td colspan='4'>
        <ul class='large-block-grid-4 small-block-grid-1'>
          <li>Length: <%= p.length %></li>
          <li>Width: <%= p.width %></li>
          <li>Thickness: <%= p.thickness %></li>
          <li>Warranty: <%= p.warranty %></li>
          <li>Color: <%= p.color.name if p.color %></li>
          <li>Weldrod: <%= p.weldrod %></li>
          <li>Coordinating Wallbase: <%= link_to (p.wallbase_profile_id || 000), 'javascript:void(0)' %></li>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-container">
  <%= will_paginate(@products,:renderer => PaginationListLinkRenderer, :previous_label => "«", :next_label => "»" ) %>
</div>
