<h3 class="subheader">New Product</h3>
<hr />

<%= form_for @product do |f| %>
  <%= f.error_messages %>
  <%= f.label :sku %>
  <%= f.text_field :sku %>
  <%= f.submit "Create Product", class: 'nice button radius' %>
<% end %>