<!DOCTYPE html>
<html>
<head>
  <title>Johnsonite.com</title>
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar">
    <section class="top-bar-section" id="menu">
        <ul class="left">
          <li><a href="/" id="logo"><%= image_tag "logo.gif" %></a></li>
        </ul>      
        <ul class="right hide-for-small">
        <% if user_signed_in? %>
          <li class="divider"></li>
          <li><%= link_to current_user.email, my_account_path %></li>
          <li class="divider"></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to('Login', new_user_session_path)  %></li>
        <% end %>
        </ul>
    </section>
  </nav>

  <% if flash[:notice] %>
    <div class='alert-box notice shadow'><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:error] %>
    <div data-alert class='alert-box alert'>
      <%= flash[:error] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>

  <div class="row" id="main">
  <div id="side-nav" class="side-nav large-3 columns">
    <% if current_user.try(:admin?) %>
    <h5>Main</h5>
    <div class="section-container vertical-nav" data-section="vertical-nav" data-options="one_up: false;">
      <section>
        <p class="title" data-section-title><%= link_to 'Home', root_path %></p>        
      </section>
      <section>
        <p class="title" data-section-title><%= link_to 'Users', users_path %></p>
      </section>
    </div>
    <h5>Products</h5>
    <div class="section-container vertical-nav" data-section="vertical-nav" data-options="one_up: false;">
      <section>
        <p class="title" data-section-title><%= link_to 'Product Categories', product_categories_path %></p>
      </section>
      <section>
        <p class="title" data-section-title><%= link_to 'Product Families', product_families_path %></p>
      </section>
      <section>
        <p class="title" data-section-title><%= link_to 'Product Thicknesses', product_thicknesses_path %></p>
      </section>
      <section>
        <p class="title" data-section-title><%= link_to 'Product Widths', product_widths_path %></p>
      </section>
      <section>
        <p class="title" data-section-title><%= link_to 'Product Lengths', product_lengths_path %></p>
      </section>
    </div>

    <h5>Wallbase</h5>
    <div class="section-container vertical-nav" data-section="vertical-nav" data-options="one_up: false;">      
      <section>
        <p class="title" data-section-title><%= link_to 'Wallbase Collections', wallbase_collections_path %></p>
      </section>
      <section>
        <p class="title" data-section-title><%= link_to 'Wallbase Style Types', wallbase_style_types_path %></p>
      </section>
    </div>

    <h5>Colors</h5>
    <div class="section-container vertical-nav" data-section="vertical-nav" data-options="one_up: false;">      
      <section>
        <p class="title" data-section-title><%= link_to 'Colors & Palettes', color_palettes_path %></p>
      </section>
    </div>
    <% end %>
  </div>
  
    <div class="large-9 columns">
      <%= yield %>
    </div>
  </div>

  <div class="row centered" id="footer">
    Copyright &copy; <%= Date.today.year %> Johnsonite.com
  </div> 
</body>
</html>
