<!DOCTYPE html>
<html>
<head>
  <title>Johnsonite.com</title>
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar">
  <section class="top-bar-section" id="menu">
      <ul class="left">
        <li><a href="/" id="logo"><%= image_tag "logo.gif" %></a></li>
      </ul>      
      <ul class="right hide-for-small">
      <% if user_signed_in? %>
        <li><%= link_to current_user.email, my_account_path %></li>
        <li class="divider"></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      <% else %>
        <li><%= link_to('Login', new_user_session_path)  %></li>
      <% end %>
      </ul>
  </section>
</nav>

  <div class="row" id="main">
  <div class="large-3 columns">
    <% if current_user.try(:admin?) %>
    <div class="section-container vertical-nav" data-section="vertical-nav" data-options="one_up: false;">
      <section>
        <p class="title" data-section-title><a href="/">Home</a></p>        
      </section>
      <section>
        <p class="title" data-section-title><a href="#">Users</a></p>
        <div class="content" data-section-content>
          <ul class="side-nav">
            <li><%= link_to 'All Users', users_path %></li>            
          </ul>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#">Product Categories</a></p>
        <div class="content" data-section-content>
          <ul class="side-nav">
            <li><%= link_to 'All Product Categories', product_categories_path %></li>            
            <li><%= link_to 'New Product Category', new_product_category_path %></li>            
          </ul>
        </div>
      </section>
    </div>
    <% end %>
  </div>
  
    <div class="large-9 columns">
      <%= yield %>
    </div>
  </div>

  <div class="row centered" id="footer">
    Copyright &copy; <%= Date.today.year %> Johnsonite.com
  </div> 
</body>
</html>
