<!DOCTYPE html>
<html>
<head>
  <title>Johnsonite.com</title>
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar">
  <section class="top-bar-section" id="menu">
      <ul class="left">
        <li><a href="/" id="logo">Johnsonite.com</a></li>
      <% if user_signed_in? %>
        <li><%= link_to current_user.email, '#' %></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      <% else %>
        <li><%= link_to('Login', new_user_session_path)  %></li>
      <% end %>
      </ul>
  </section>
</nav>

  <div class="row panel" id="main">
    <div class="large-12">
      <%= yield %>
    </div>
  </div>

  <div class="row centered" id="footer">
    Copyright &copy; <%= Date.today.year %> Johnsonite.com
  </div> 
</body>
</html>
