<!DOCTYPE html>
<html>
<head>
  <title>Johnsonite.com</title>
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 8]>
    <link href="/reset.css" media="all" rel="stylesheet" />
  <![endif]-->
</head>
<body>
  <nav class="top-bar">
    <section class="top-bar-section" id="menu">
        <ul class="left">
          <li><a href="/" id="logo"><%= image_tag "logo.gif" %></a></li>
        </ul>      
        <ul class="right hide-for-small">
        <% if user_signed_in? %>
          <li class="divider"></li>
          <li><%= link_to current_user.email, my_account_path %></li>
          <li class="divider"></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to('Login', new_user_session_path)  %></li>
        <% end %>
        </ul>
    </section>
  </nav>

  <% if flash[:notice] %>
    <div class='alert-box notice shadow'><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:error] %>
    <div data-alert class='alert-box alert'>
      <%= flash[:error] %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>

  <div class="row" id="main">
    <div id="" class="large-3 columns show-for-small">
      <% if current_user.try(:admin?) %>
        <select id="nav-select">
          <option>Navigation</option>
          <optgroup label="Main">
            <option <%= "selected='selected'" if request.fullpath == root_path %> value="<%= root_path %>">Home</option>
            <option <%= "selected='selected'" if request.fullpath == users_path %> value="<%= users_path %>">Users</option>
          </optgroup>
          <optgroup label="Products">
            <option <%= "selected='selected'" if request.fullpath == products_path %> value="<%= products_path %>">Products</option>
            <option <%= "selected='selected'" if request.fullpath == product_categories_path %> value="<%= product_categories_path %>">Product Categories</option>
            <option <%= "selected='selected'" if request.fullpath == product_families_path %> value="<%= product_families_path %>">Product Families</option>
            <option <%= "selected='selected'" if request.fullpath == product_thicknesses_path %> value="<%= product_thicknesses_path %>">Product Thicknesses</option>
            <option <%= "selected='selected'" if request.fullpath == product_widths_path %> value="<%= product_widths_path %>">Product Widths</option>
            <option <%= "selected='selected'" if request.fullpath == product_lengths_path %> value="<%= product_lengths_path %>">Product Lengths</option>
            <option <%= "selected='selected'" if request.fullpath == product_warranties_path %> value="<%= product_warranties_path %>">Product Warranties</option>
          </optgroup>
          <optgroup label="Wallbase">
            <option <%= "selected='selected'" if request.fullpath == wallbase_collections_path %> value="<%= wallbase_collections_path %>">Wallbase Collections</option>
            <option <%= "selected='selected'" if request.fullpath == wallbase_style_types_path %> value="<%= wallbase_style_types_path %>">Wallbase Style Types</option>
          </optgroup>
          <optgroup label="Colors">
            <option <%= "selected='selected'" if request.fullpath == color_palettes_path %> value="<%= color_palettes_path %>">Colors & Palettes</option>
            <option <%= "selected='selected'" if request.fullpath == color_families_path %> value="<%= color_families_path %>">Colors Families</option>
            <option <%= "selected='selected'" if request.fullpath == textures_path %> value="<%= textures_path %>">Textures</option>
            <option <%= "selected='selected'" if request.fullpath == patterns_path %> value="<%= patterns_path %>">Patterns</option>
          </optgroup>        
        </select>
      <% end %>
    </div>

    <div id="side-nav" class="side-nav large-3 columns hide-for-small">
      <% if current_user.try(:admin?) %>
      <h5>Main</h5>
      <div class="section-container vertical-nav" data-section="vertical-nav" data-options="one_up: false;">
        <section>
          <p id="firstStop" class="title <%= is_current?('welcome') %>" data-section-title><%= link_to 'Home', root_path %></p>        
        </section>
        <section>
          <p class="title <%= is_current?('users') %>" data-section-title><%= link_to 'Users', users_path %></p>
        </section>
      </div>
      <h5>Products</h5>
      <div class="section-container vertical-nav" data-section="vertical-nav" data-options="one_up: false;">
        <section>
          <p id="no1" class="title <%= is_current?('products') %>" data-section-title><%= link_to 'Products', products_path %></p>
        </section>
        <section>
          <p class="title <%= is_current?('product_categories') %>" data-section-title><%= link_to 'Product Categories', product_categories_path %></p>
        </section>
        <section>
          <p class="title <%= is_current?('product_families') %>" data-section-title><%= link_to 'Product Families', product_families_path %></p>
        </section>
        <section>
          <p id="no2" class="title <%= is_current?('product_thicknesses') %>" data-section-title><%= link_to 'Product Thicknesses', product_thicknesses_path %></p>
        </section>
        <section>
          <p class="title <%= is_current?('product_widths') %>" data-section-title><%= link_to 'Product Widths', product_widths_path %></p>
        </section>
        <section>
          <p class="title <%= is_current?('product_lengths') %>" data-section-title><%= link_to 'Product Lengths', product_lengths_path %></p>
        </section>
        <section>
          <p class="title <%= is_current?('product_warranties') %>" data-section-title><%= link_to 'Product Warranties', product_warranties_path %></p>
        </section>
      </div>

      <h5>Wallbase</h5>
      <div class="section-container vertical-nav" data-section="vertical-nav" data-options="one_up: false;">      
        <section>
          <p id="no3" class="title <%= is_current?('wallbase_collections') %>" data-section-title><%= link_to 'Wallbase Collections', wallbase_collections_path %></p>
        </section>
        <section>
          <p class="title <%= is_current?('wallbase_style_types') %>" data-section-title><%= link_to 'Wallbase Style Types', wallbase_style_types_path %></p>
        </section>
      </div>

      <h5>Colors</h5>
      <div class="section-container vertical-nav" data-section="vertical-nav" data-options="one_up: false;">      
        <section>
          <p id="no4" class="title <%= is_current?('color_palettes') %>" data-section-title><%= link_to 'Colors & Palettes', color_palettes_path %></p>
        </section>
        <section>
          <p class="title <%= is_current?('color_families') %>" data-section-title><%= link_to 'Color Families', color_families_path %></p>
        </section>
        <section>
          <p class="title <%= is_current?('textures') %>" data-section-title><%= link_to 'Textures', textures_path %></p>
        </section>
        <section>
          <p class="title <%= is_current?('patterns') %>" data-section-title><%= link_to 'Patterns', patterns_path %></p>
        </section>
      </div>
      <% end %>
    </div>

  
    <div class="large-9 columns">
      <%= yield %>
    </div>
  </div>

  <div class="row centered" id="footer">
    Designed by Boondock in Cleveland Assembled in Ruby Model BW3635
  </div> 
</body>
</html>
